// Veriables styles
@import 'utils/variables';
@import 'utils/placeholders';
@import 'utils/mixins';

// Base styles
@import 'base/base';

// Components styles
@import 'components/header';
@import 'components/logo';
@import 'components/nav-menu';
@import 'components/hero';
@import 'components/features';
@import 'components/work';
@import 'components/socials-list';
@import 'components/team';
@import 'components/customers';
@import 'components/subscribe';
@import 'components/footer';
@import 'components/filter';
@import 'components/projects';
@import 'components/backdrop';
@import 'components/modal';
@import 'components/modal-form';
@import 'components/mobile-menu';