/* Section customers styles*/

.customers__title {
    @extend %title;

    @media screen and (min-width: 1200px) {
        @include title (50px, 36px, 1.16)
    }
}

.customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.customer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 92px;

    color: #afb1b8;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }

    @media screen and (min-width: 480px) {
        width: 210px;       
    }

    @media screen and (min-width: 768px) {
        width: 226px;       
    }
    @media screen and (min-width: 1200px) {
        width: 170px;       
    }
}

.customes__icon {
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}