/* Section hero style */

.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-right: auto;
    margin-left: auto;

    background-color: #c4c4c4;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/general/background-photo.jpg);
    background-position: center, center;

    // @media screen and (min-width: 768px){
    //     // padding-top: 118px;
    //     // padding-bottom: 118px;
    // }
    @media screen and (min-width: 1200px){
        max-width: 1600px;

        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    // min-height: 120px;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    //  @media screen and (min-width: 768px){
    //     font-size: 26px;
    //     line-height: 1.61;
    // }
    @media screen and (min-width: 1200px){
        max-width: 696px;

        font-size: 44px;
        line-height: 1.36;  
    }
}

.hero__button {
    display: block;
    margin-right: auto;
    margin-left: auto;

    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    min-width: 216px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;

    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #188ce8;
    }
}