.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        width: 768px;
    }
     @media screen and (min-width: 1200px) {
        align-items: flex-start;

        padding-top: 12px;
        width: 570px;
    }
}

.subscribe__title {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: #fff;
}

.subscribe__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

     @media screen and (min-width: 1200px) {
        flex-direction: row;

        gap: 12px;
    }
}

.subscribe__input {
    width: 290px;
    height: 50px;

    padding-left: 16px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: #fff;

    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    outline: none;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

.subscribe__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: #fff;

    background-color: var(--accent-color);
    border: transparent;
    border-radius: 4px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}