h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
   
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px){
        width: 480px;
    }
    @media screen and (min-width: 768px){
        width: 768px;
    }
    @media screen and (min-width: 1200px){
        width: 1200px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    // @media screen and (min-width: 768px){
    //     padding-top: 60px;
    //     padding-bottom: 60px;
    // }
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

